<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>BEIA - RTU Emulator</title>
  </head>

  <body>

    <div class="container">

      <div class="starter-template">
        <h1>Choose the ranges for the emulated values:</h1>
        <div class="list-group">
        {%  for node in nodes %}
        <a href="#" class="list-group-item">
          <h4>{{node.name}} (node-id = {{node.id}})</h4>
          <div class="btn-group">
            <button type="button" class="btn btn-default">{{node.min}}</button>
            <button type="button" class="btn btn-default">&lt;</button>
            <button type="button" class="btn btn-default">{{node.max}}</button>
          </div>
            <button data-node-id="{{node.id}}" data-outside=False type="button" class="click-change btn btn-{{'outline-' if node.outside}}success">Normal</button>
            <button data-node-id="{{node.id}}" data-outside=True type="button" class="click-change btn btn-{{'outline-' if not node.outside}}danger">Outside</button>
        </a>
        {% endfor %}
        </div>
      </div>

    </div><!-- /.container -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
      $(".click-change").on("click", function(event) {
        console.log($(this).attr("data-node-id"));
        location.href="/?id="+ $(this).attr("data-node-id") + "&outside=" + $(this).attr("data-outside");
      });
    </script>
  </body>
</html>
